$outterWidthPX: 1400px;
$outterWidthPXB: 1400px;
$outterWidthEM: 87.5em;
$font_14: 0.875em;
$font_13: 0.8125em;
$font_12: 0.75em;
$globe_ui_img: url(../images/icons/sprite.png) no-repeat;

$zidx_l5: 999;